
.cls-1{fill:#39ce7c;}
.cls-2{fill:#7b2fec;}
.cls-3{fill:#fff;}
.cls-4{fill:#ffc100;}
.cls-5{fill:#e8ad05;}

/* Elements */
#Flower {
  height: 200px;
  margin: 50px auto;
  display: block;
   transform-origin: bottom;
  transform: translate(0px,0px) scale(1,0);
  animation-name: growPot;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0,1.29,.7,1.1);
}

#flowerPot {
/*   opacity: 0; */
  transform-origin: bottom;
  transform: translate(0px,0px) scale(1,0);
  animation-name: growPot;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0,1.29,.7,1.1);
  
}
#bigBranchRight {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: bottom;
  animation-name: growBranch;
  animation-delay: 400ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

#bigBranchLeft {
  opacity: 0;
   transform: translate(0px, 0px);
  transform-origin: bottom;
  animation-name: growBranch;
  animation-delay: 400ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

#leaf1 {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: left;
  animation-name: growLeaf;
  animation-delay: 400ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
#leaf2 {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: left;
  animation-name: growLeaf;
  animation-delay: 500ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
#leaf3 {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: left;
  animation-name: growLeaf;
  animation-delay: 600ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
#leaf4 {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: left;
  animation-name: growLeaf;
  animation-delay: 700ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}


#smallBranchRight {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: left;
  animation-name: growSideBranch;
  animation-delay: 400ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

#smallBranchLeft {
  opacity: 0;
  transform: translate(0px, 0px);
  transform-origin: bottom left;
  animation-name: growSideBranch;
  animation-delay: 400ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes growPot {
  0% {
    transform: translate(0px,15px) scale(1,0) rotateZ(0deg);
  }
  70% {
    transform: translate(0px,15px) scale(1,0) rotateZ(0deg);
  }
  100% {
    transform: translate(0px,0px) scale(1,1) rotateZ(0deg);
  }
}

  @keyframes growBranch {
  0% {
    opacity: 0;
    transform: translate(0px,-10px) scale(0,0);
  }
    20% {
      opacity: 1;
    }
  100% {
    transform: translate(0px,0px) scale(1,1);
    opacity: 1;
    }
}

@keyframes growSideBranch {
  0% {
    opacity: 0;
    transform: translate(0px, 45px) scale(0,1) rotateZ(0deg);
  }
    20% {
      opacity: 1;
      
    }
  100% {
    transform: translate(0px,0px) scale(1,1) rotateZ(0deg);
    opacity: 1;
    }
}

@keyframes growLeaf {
  0% {
    opacity: 0;
    transform: translate(0px, 0px) scale(0,0) rotateZ(0deg);
  }
  20% {
      opacity: 1;
      
    }
  100% {
    transform: translate(0px,0px) scale(1,1) rotateZ(0deg);
    opacity: 1;
    }
}


.cls-2 {
  opacity: 0;
  transform: translate(-599.21px, -347.12px);
  transform-origin: center;
  animation-name: growFlower;
  animation-delay: 500ms;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
/*   animation-timing-function: cubic-bezier(0,1.1,.7,1.1); */
  
}

@keyframes growFlower {
  0% {
    opacity: 0;
    transform: translate(-599.21px, -347.12px) scale(0,0) rotateZ(0deg); 
  }
  
  100% {
    transform: translate(-599.21px, -347.12px)  scale(0.9,0.9) rotateZ(-180deg);
    opacity: 1;
    }
}



